{% extends "employees/base.htm" %}
{% load static %}


{% block content %}

    <div class="container d-flex justify-content-center align-items-center p-md-3">
        
        <form class="form card p-md-3" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <strong class="mb-md-3 text-secondary">Create a blog</strong>
            <hr>
            <div class="form-group pb-md-2">
                <label for="title"><b>Title:</b></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
            </div>
            <div class="form-group pb-md-2">
                <label for="posttype"><b>Post Type:</b></label>
                <input type="text" class="form-control" id="posttype" name="posttype" placeholder="Enter post type" required>
            </div>
            <div class="form-group pb-md-2">
                <label for="description"><b>Description:</b></label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" required>
            </div>
            <div class="form-group pb-md-2">
                <label for="image"><b>Image:</b></label>
                <input type="file" class="form-control-file" id="image" name="image" required>
            </div>
            <div class="form-group pb-md-2">
                <label for="content"><b>Content:</b></label>
                <textarea class="form-control" id="content" name="content" rows="4" placeholder="Enter content" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
    
{% endblock content %}